.title {
  border-bottom: 3px solid #26527C;
  padding-bottom: 10px;
  font-size: 20px;
}

.amount {
  background-color: #DDD;
  border-radius: 15px;
  padding: 3px 10px;
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.loader {
  margin: 10px 0 30px;
  text-align: center;
  color: #888;
}
