.wrap {
  background-color: #26527C;
  padding: 15px 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo,
.searchbox {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  margin: 0;
  width: 150px;
  font-size: 20px;
  color: #FFF;
}

.link {
  text-decoration: none;
}

.searchbox {
  width: calc(100% - 150px);
  background-color: #FFF;
  padding: 0 15px;
}

@media (max-width: 500px) {
  .logo,
  .searchbox {
    display: block;
    width: 100%;
  }

  .logo {
    margin-bottom: 10px;
    text-align: center;
  }
}
