.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.name {
  font-weight: 600;
  font-size: 30px;
}

.login {
  font-size: 25px;
  margin-bottom: 20px;
  color: #666;
}

.info {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #555;
}

.oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 760px) {
  .asideLeft,
  .asideRight {
    display: inline-block;
    vertical-align: top;
  }

  .asideLeft {
    width: 50px;
    margin-right: 15px;
  }

  .asideRight {
    width: calc(100% - 65px);
  }

  .name {
    font-size: 20px;
  }

  .login {
    font-size: 17px;
  }
}
