.wrap {
  border-bottom: 1px solid #DDD;
  padding: 15px 0;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
}

.desc {
  color: #222;
  margin-bottom: 10px;
}

.info {
  color: #555;
  font-size: 13px;
}

.updated {
  display: inline-block;
  margin-right: 20px;
}
